<h1>Not Found</h1>
<h2>404</h2>
<pre>NotFoundError: Not Found
    at /Users/viola/WebstormProjects/DynamicStoryTelling/app.js:39:8
    at Layer.handle [as handle_request] (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:317:13)
    at /Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:284:7
    at Function.process_params (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:335:12)
    at next (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:275:10)
    at /Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:635:15
    at next (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:260:14)
    at Function.handle (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:174:3)
    at router (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:47:12)
    at Layer.handle [as handle_request] (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:317:13)
    at /Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:284:7
    at Function.process_params (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:335:12)
    at next (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/express/lib/router/index.js:275:10)
    at SendStream.error (/Users/viola/WebstormProjects/DynamicStoryTelling/node_modules/serve-static/index.js:121:7)</pre>
